<!DOCTYPE html>
<html>
<head>
{% if form %}
	<title>Password reset </title>
{% else %}
	<title>Password reset unsuccessful</title>
{% endif %}
<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% if form %}
<h2>Enter new password</h2>
<p>
	Please enter your new password twice so we can verify you typed it in correctly.
</p>

<form method="post">
	{% csrf_token %}

	{{form}}

	<button type="submit">Send Email</button>
</form>

{% else %}

<h2>Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.

</p>
<a href="{% url 'Home' %}"> Back to home</a>

{% endif %}

</body>
</html>